@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    background: #f2f2f2;
    color: #555555;
    font-size: 1.6rem;
}

input, button, select {
    font-size: 1.3rem;
}

h1 {
    text-align: center;
    color: #0099ff;
    font-weight: 600;
    font-size: 2.4rem;
}

.title-bar {
    background: #fff;
    color: #0099ff;    
    box-shadow: .2rem 0 1rem #0099ff;
}

.nav-logo {
    width: 27rem;
    height: 8.8rem;
}

.nav-menu {
    list-style-type: none;
    float: right;
    margin-top: 2rem;
}

.nav-menu > li {
    display: inline-block;
    padding: 1.5rem;
    font-size: 1.8rem;
    /* width: 100%; */
}

.nav-menu > li > div::selection {
    background: none;
    color: none;
}

.nav-menu > li:hover {
    border-bottom: 1.2px solid #0472bb;
    color: #0472bb;
    cursor: pointer;
    font-size: 1.7rem;
}

.nav-menu > li:active {
    background-color: #0099ff;
    color: #fff;
}

.form {
    display: flex;
}

.form__input {
    border: 1px solid #e8e8e8;
    flex-grow: 1;
    padding: 0 1.3rem;
}

.wrapper-nav {
    margin: 0 auto;
    padding: 0 1.2rem;
}

.wrapper {
    background-color: #fff;
    box-shadow: inset 0 0 1rem #0099ff;
    min-height: 20rem;
    min-width: 30rem;
    margin: 10% auto 0;
    max-width: 50rem;
    padding: 1.3rem;
}

.hidden {
    visibility: hidden;
}